# Remote IMAP Account
IMAPStore $TIFR_USER_NAME@tifr.res.in-remote
Host tifr.res.in
Port 993
User $TIFR_USER_NAME@tifr.res.in
PassCmd "pass tifr"
TLSType IMAPS
SystemCertificates yes

# Local Maildir store
MaildirStore $TIFR_USER_NAME@tifr.res.in-local
Subfolders Verbatim
Path $MAIL_PATH/
Inbox $MAIL_PATH/INBOX

# Sync channel
Channel $TIFR_USER_NAME@tifr.res.in
Expunge Both
Far :$TIFR_USER_NAME@tifr.res.in-remote:
Near :$TIFR_USER_NAME@tifr.res.in-local:
Patterns *
Create Both
SyncState *
